* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100%;  
}

@mixin flex-column($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 1600px;
    margin: 0 auto;
}

main {
    section.view1 {
        @include flex-column(1.5rem);
        align-items: center;
        padding: 6rem 4rem 32rem;
        position: relative;
        width: 100%;
        background-image: url(line-waves.gif);
        background-repeat: no-repeat;
        background-position: bottom;
        opacity: 0.7;

        h1 {
            font-size: 7rem;
            font-weight: 700;
            color: transparent;
            background: linear-gradient(-55deg, #e8d3be 40%, #458aed);
            background-clip: text;
            font-weight: 400;
            opacity: 1;
        }

        p {
            color: rgb(226, 225, 225);
            text-align: center;
            font-size: 1.1rem;
            opacity: 1;
        }

        button {
            padding: 0.7rem 2rem;
            background-color: transparent;
            border: 1px solid rgb(219, 219, 219);
            color: rgb(226, 225, 225);
            border-radius: 2rem;
            backdrop-filter: blur(5px);
            cursor: pointer;
            width: fit-content;
            opacity: 1;
        }

        button:hover {
            background: linear-gradient(transparent 50%, rgba(204, 204, 204, 0.855));
        }
    }

    section.view2 {
        width: 100%;
        padding: 3rem 1.5rem;
        @include flex-column(1rem);

        h1 {
            color: #e2e1e1;
            font-size: 2.5rem;
            text-align: center;
            font-weight: 400;

            span {
                background: linear-gradient(55deg, #e8d3be, #eca486);
                background-clip: text;
                color: transparent;
            }
        }

        p {
            color: #e2e1e1;
            text-align: center;
            opacity: 0.4;
        }

        .element {
            width: 100%;
            @include flex-column(5rem);

            .top {
                img {
                    width: 100%;
                    object-fit: cover;
                    border: 1px solid #e2e1e1;
                    border-radius: 2rem;
                }
            }

            .bottom {
                width: 100%;
                @include flex-column(1rem);

                .details {
                    display: flex;

                    .right {
                        padding: 0rem 1rem;
                        @include flex-column(0.5rem);

                        h2 {
                            color: #e2e1e1;
                        }

                        p {
                            text-align: left;
                        }
                    }
                }
            }

        }
    }

    section.view3 {
        width: 100%;
        padding: 3rem 1.5rem;
        @include flex-column(1rem);
        text-align: center;
        align-items: center;

        h1 {
            color: #e2e1e1;
            font-size: 2.8rem;
            font-weight: 400;

            span {
                background: linear-gradient(55deg, #e8d3be, #eca486);
                background-clip: text;
                color: transparent;
            }
        }

        p {
            color: #e2e1e1;
            text-align: center;
            opacity: 0.4;
        }

        button {
            padding: 0.7rem 2rem;
            border-radius: 2rem;
            width: fit-content;
            background-color: #000000;
            border: 1px solid #e2e1e1;
            color: #e2e1e1;
            font-size: 1rem;
        }

    }

    section.view4 {
        width: 100%;
        @include flex-column(3rem);
        padding: 3rem 1.5rem;

        .element {
            padding: 1.5rem;
            border: 1px solid #e2e1e136;
            @include flex-column(2rem);
            background-image: url(view4.jpg);
            background-position: 60%;
            border-radius: 1rem;
            background-repeat: no-repeat;

            .top {
                background-image: url(view4_1.2.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                aspect-ratio: 1/1;
                padding: 1rem;

                .img2 {
                    background-image: url(view4_1.1.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    aspect-ratio: 1/1;
                }
            }

            .bottom {
                @include flex-column(3rem);
                width: 100%;

                h1 {
                    color: #e2e1e1;
                    font-size: 2.5rem;
                    font-weight: 400;

                    span {
                        background: linear-gradient(55deg, #e8d3be, #eca486);
                        background-clip: text;
                        color: transparent;
                    }
                }

                p {
                    color: #e2e1e1;
                    opacity: 0.4;
                    width: 60%;
                    font-size: 1.3rem;
                }

                button {
                    padding: 0.7rem 2rem;
                    border-radius: 2rem;
                    width: fit-content;
                    background-color: #000000;
                    border: 1px solid #e2e1e1;
                    color: #e2e1e1;
                    font-size: 1rem;
                }
            }
        }

        .element:nth-child(3) {
            .top {
                background-image: url(view4.jpg);

                img {
                    background-image: none;
                }
            }
        }

    }

    section.view5 {
        @include flex-column(1rem);
        width: 100%;
        padding: 3rem 1.5rem;
        text-align: center;
        align-items: center;

        h1 {
            color: #e2e1e1;
            font-size: 2.8rem;
            font-weight: 400;

            span {
                background: linear-gradient(55deg, #e8d3be, #eca486);
                background-clip: text;
                color: transparent;
            }
        }

        p {
            color: #e2e1e1;
            text-align: center;
            opacity: 0.4;
        }

        .image {
            @include flex-column(1rem);
            width: 100%;


            img {
                border: 1px solid #e2e1e136;
                border-radius: 2rem;
            }
        }

    }

    section.view6 {
        width: 100%;
        padding: 3rem 1.5rem;

        .element {
            border: 1px solid #e2e1e136;
            @include flex-column(3rem);
            align-items: center;
            border-radius: 1rem;
            padding: 3rem;
            background: linear-gradient(black 40%, #ffa5006e);

            p {
                color: #e2e1e1;
                text-align: center;
                font-weight: 500;
            }

            .text {
                @include flex-column(1rem);

                p {
                    font-size: 1rem;
                    color: #e2e1e1;
                    opacity: 0.4;
                    width: 100%;
                }
            }
        }
    }
}

footer {
    width: 100%;
    color: white;
    padding: 3rem 0rem 0rem 0rem;

    .semi-circle {
        @include flex-column(0rem);
        justify-content: center;
        box-shadow: 0px 0px 50px 0px orange;
        width: 100%;
        height: 350px;
        border-radius: 70% 70% 0% 0%/15% 15% 0% 0%;

        .element {
            @include flex-column(5rem);

            padding: 1rem;

            .top {
                display: flex;
                justify-content: space-evenly;
            }

            .bottom {
                display: flex;
                justify-content: space-around;
                align-items: center;

                .logo {
                    display: flex;
                    align-items: center;
                }

                .contact {
                    font-size: 1rem;
                }

            }

        }

        .copyright {
            text-align: center;
            font-size: 0.7rem;
            color: #e2e1e170;
            border-top: 1px solid #e2e1e1;
            padding: 0.5rem;
        }
    }
}

@media(min-width:900px) {
    main {

        section.view1 {
            width: 100%;
            background-size: cover;

            h1 {
                font-size: 10rem;
            }

            p {
                width: 20%;
                font-size: 1rem;
            }

            button {
                padding: 1rem 2rem;
                font-size: 1rem;
            }
        }

        section.view2 {
            padding: 5.5rem;
            gap: 3rem;

            .element {
                flex-direction: row;


                .top {
                    width: 50%;
                }

                .bottom {
                    width: 50%;
                    gap: 2.8rem;
                }
            }
        }

        section.view3 {
            padding: 5.5rem;
            gap: 3rem;

            h1 {
                width: 50%;
            }

            p {
                font-size: 1rem;
            }

            button {
                padding: 1rem 2rem;
                font-size: 1rem;
                width: fit-content;
            }
        }

        section.view4 {
            padding: 5.5rem;

            .element {
                flex-direction: row-reverse;
                background-position: 100%;
                padding: 1.5rem 3.5rem;
                gap: 4rem;

                .top {
                    width: 60%;

                    .img2 {
                        padding: 0.5rem;
                    }
                }

                .bottom {
                    justify-content: space-evenly;
                    gap: 0rem;
                    width: 40%;

                }
            }

            .element:nth-child(2) {
                flex-direction: row;
            }
        }

        section.view5 {
            gap: 3rem;
            padding: 5.5rem;

            p {
                width: 21%;
            }

            .image {
                flex-direction: row;
                padding: 2rem;
                gap: 2rem;

                img {
                    width: 50%;
                }
            }
        }

        section.view6 {
            padding: 5.5rem;

            .element {
                padding: 5rem;
            }

            p {
                font-size: 1.5rem;
                font-weight: 500;
                width: 75%;
            }
        }


    }

    footer {
        width:100%;

        .semi-circle {
            border-radius: 75% 75% 0% 0%/65% 65% 0% 0%;

            .element {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content:space-evenly;
                gap:2rem;
                padding:1rem 8rem;
                font-size: 1rem;

                .top{
                    width:30%;
                    display: flex;
                    justify-content: flex-start;
                    gap:2rem;
                }

                .bottom{
                    width:70%;
                    justify-content: space-between;
                }

            }

            .copyright{
                font-size: 1rem;
            }

        }
    }
}

@media(min-width:2000px){
    footer{
        .semi-circle{
            .element{
                padding:1rem 25rem;
            }
        }
    }
}